<h2>Minhas Tarefas</h2>

<div>
    <label for="nova-tarefa"> Tarefa nome: </label>
    <input id="nova-tarefa" #tarefaName />

    <button class="add-button" (click)="add(tarefaName.value); tarefaName.value=''">
        Add tarefa
      </button>
</div>
<ul class="tarefas">
    <li *ngFor="let tarefa of tarefas">
        <a routerLink="/detalhe/{{tarefa.id}}">
            <span class="badge">{{tarefa.id}}</span> {{tarefa.name}}
        </a>   
        <button class="delete" title="excluir tarefa"
        (click)="delete(tarefa)">x</button>     
    </li>
</ul>
